<div>

    <h2>@ViewBag.Title</h2>

    <form method="post" action="">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Название компании" name="_name">
            <input type="hidden" value="@ViewBag.Title" name="_type">
            <button class="btn">Добавить</button>
        </div>
    </form>

    <hr />
    
    <h4>Список компаний</h4>
    <form method="get">
        <table class="table">
            <tr>
                <td><p>ID компании</p></td>
                <td><p>Название</p></td>
            </tr>
            @foreach (var c in ViewBag.Companies)
            {
                <tr>
                    <td>@c._id</td>
                    <td>@c._name</td>
                    <td><button class="btn" name="id_company" value="@c._id">Удалить</button></td>
                </tr>
            }
        </table>
    </form>

</div>